    <!-- Contact Section -->
    <section id="contact" class="content-section text-center">
        <div class="contact-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2 transparent-box">
                    <h2>Contact</h2>
                    <p>We'd love to hear from you! Get in touch at the email address below, or follow us on social media.</p>
                    <p>Bradford-on-Avon Community Agriculture (BoACA)
                    <br>78 Bath Road
                    <br>Bradford-on-Avon
                    <br>Wiltshire
                    <br>BA15 2PB
                    <br>Tel: 01225 868761
                    <br>Mob: 07546048867
                    </p>
                    <p><a href="mailto:{{ site.email }}">{{ site.email }}</a>
                    </p>
                    <ul class="list-inline banner-social-buttons">
                        {% for network in site.social %}
                        <li>
                            <a href="{{ network.url }}" class="btn btn-default btn-lg"><i class="fa fa-{{ network.title }} fa-fw"></i> <span class="network-name">{{ network.title }}</span></a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </section>
