    <!-- Pick-to-order Section -->
    <section id="pick-to-order" class="content-section text-center">
        <div class="pick-to-order-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2 transparent-box">
                    <h2>Pick-to-Order</h2>
                    <p>Do you want locally grown, fresh, seasonal and delicious, chemical free fruit and vegetables?</p>
                    <p>Yes please!</p>
                    <p>Please <a href="#contact">contact</a> us to be added to our mailing list, after which you'll receive a list of all our available crops each Saturday.</p>
                </div>
            </div>
        </div>
    </section>
