    <!-- Volunteering Section -->
    <section id="volunteering" class="content-section text-center">
        <div class="volunteering-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2 transparent-box">
                    <h2>Volunteering</h2>
                    <p>Our volunteers are what make us tick! Come join us at one of our Wednesday volunteer mornings (10am until noon), or on a monthly volunteer day (first Sunday of every month, weather permitting).</p>
                </div>
            </div>
        </div>
    </section>
